<a href="https://colab.research.google.com/github/leondb999/4-sem-picolo/blob/master/Titantic_Neuronales_Netz_Neue_Konzepte_Sondermann.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Lösung von Leon Dickob

In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import optimizers

In [ ]:
from google.colab import files
uploaded1 = files.upload()
uploaded2 = files.upload()
uploaded3 = files.upload()

import pandas as pd
import io

train_set = pd.read_csv(io.StringIO(uploaded1['train.csv'].decode('utf-8')))
test_set = pd.read_csv(io.StringIO(uploaded2['test.csv'].decode('utf-8')))
output_set = pd.read_csv(io.StringIO(uploaded3['gender_submission.csv'].decode('utf-8')))
train_set

Saving train.csv to train.csv

Saving test.csv to test.csv

Saving gender_submission.csv to gender_submission.csv

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [ ]:
train_set = train_set[ train_set['Embarked'] != 0 ]

In [ ]:

x_train = train_set.drop(['PassengerId','Name','Ticket','Survived', 'Cabin'], axis=1)
y_train = train_set['Survived']
x_test = test_set.drop(['PassengerId','Name','Ticket', 'Cabin'], axis=1)

x_train['Age'] = x_train['Age'].fillna(x_train['Age'].mean())
x_test['Age'] = x_test['Age'].fillna(x_test['Age'].mean())

x_train = x_train.fillna(float(0.0))
x_test = x_test.fillna(float(0.0))
x_test.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  34.5      0      0   7.8292        Q
1       3  female  47.0      1      0   7.0000        S
2       2    male  62.0      0      0   9.6875        Q
3       3    male  27.0      0      0   8.6625        S
4       3  female  22.0      1      1  12.2875        S

In [ ]:
x_train = pd.get_dummies(x_train, columns= ['Sex','Embarked']) 
x_test = pd.get_dummies(x_test, columns= ['Sex','Embarked'])
x_train = x_train.drop(['Embarked_0.0'], axis=1)
print(x_test.shape)
x_train.shape

(418, 10)

(891, 10)

In [ ]:
from keras import models
from keras import layers
from tensorflow.keras import optimizers
from keras import losses 
from keras import metrics


model = models.Sequential()

model.add(layers.Dense(32, activation='relu', input_shape=(10,)))
model.add(layers.Dense(16, activation='relu', input_shape=(10,)))
model.add(layers.Dense(8, activation='relu', input_shape=(10,)))
model.add(layers.Dense(1, activation='sigmoid', input_shape=(10,)))

model.compile(optimizer=optimizers.RMSprop(lr=0.001),loss=losses.binary_crossentropy,metrics=[metrics.binary_accuracy])

model.fit(x_train, y_train, epochs=80)

/usr/local/lib/python3.7/dist-packages/keras/optimizer_v2/optimizer_v2.py:356: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  "The `lr` argument is deprecated, use `learning_rate` instead.")

Epoch 1/80
28/28 [==============================] - 1s 3ms/step - loss: 4.2597 - binary_accuracy: 0.5870
Epoch 2/80
28/28 [==============================] - 0s 2ms/step - loss: 0.6777 - binary_accuracy: 0.6756
Epoch 3/80
28/28 [==============================] - 0s 2ms/step - loss: 0.6290 - binary_accuracy: 0.6813
Epoch 4/80
28/28 [==============================] - 0s 2ms/step - loss: 0.6031 - binary_accuracy: 0.6902
Epoch 5/80
28/28 [==============================] - 0s 2ms/step - loss: 0.5870 - binary_accuracy: 0.7048
Epoch 6/80
28/28 [==============================] - 0s 2ms/step - loss: 0.5838 - binary_accuracy: 0.7059
Epoch 7/80
28/28 [==============================] - 0s 2ms/step - loss: 0.5715 - binary_accuracy: 0.7093
Epoch 8/80
28/28 [==============================] - 0s 2ms/step - loss: 0.5513 - binary_accuracy: 0.7329
Epoch 9/80
28/28 [==============================] - 0s 2ms/step - loss: 0.5537 - binary_accuracy: 0.7374
Epoch 10/80
28/28 [==============================] - 0s 2ms/step - loss: 0.5424 - binary_accuracy: 0.7374
Epoch 11/80
28/28 [==============================] - 0s 3ms/step - loss: 0.5189 - binary_accuracy: 0.7486
Epoch 12/80
28/28 [==============================] - 0s 2ms/step - loss: 0.5153 - binary_accuracy: 0.7565
Epoch 13/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4987 - binary_accuracy: 0.7654
Epoch 14/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4995 - binary_accuracy: 0.7654
Epoch 15/80
28/28 [==============================] - 0s 2ms/step - loss: 0.5098 - binary_accuracy: 0.7767
Epoch 16/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4989 - binary_accuracy: 0.7834
Epoch 17/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4839 - binary_accuracy: 0.7856
Epoch 18/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4771 - binary_accuracy: 0.7868
Epoch 19/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4725 - binary_accuracy: 0.7901
Epoch 20/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4711 - binary_accuracy: 0.7957
Epoch 21/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4662 - binary_accuracy: 0.7879
Epoch 22/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4676 - binary_accuracy: 0.7901
Epoch 23/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4541 - binary_accuracy: 0.8058
Epoch 24/80
28/28 [==============================] - 0s 3ms/step - loss: 0.4587 - binary_accuracy: 0.8013
Epoch 25/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4484 - binary_accuracy: 0.8114
Epoch 26/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4634 - binary_accuracy: 0.8013
Epoch 27/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4551 - binary_accuracy: 0.7957
Epoch 28/80
28/28 [==============================] - 0s 1ms/step - loss: 0.4422 - binary_accuracy: 0.8103
Epoch 29/80
28/28 [==============================] - 0s 3ms/step - loss: 0.4641 - binary_accuracy: 0.7935
Epoch 30/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4446 - binary_accuracy: 0.8047
Epoch 31/80
28/28 [==============================] - 0s 3ms/step - loss: 0.4608 - binary_accuracy: 0.8013
Epoch 32/80
28/28 [==============================] - 0s 3ms/step - loss: 0.4711 - binary_accuracy: 0.7980
Epoch 33/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4499 - binary_accuracy: 0.8002
Epoch 34/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4436 - binary_accuracy: 0.8103
Epoch 35/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4558 - binary_accuracy: 0.8002
Epoch 36/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4489 - binary_accuracy: 0.8036
Epoch 37/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4469 - binary_accuracy: 0.8025
Epoch 38/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4469 - binary_accuracy: 0.8047
Epoch 39/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4343 - binary_accuracy: 0.8025
Epoch 40/80
28/28 [==============================] - 0s 3ms/step - loss: 0.4519 - binary_accuracy: 0.7935
Epoch 41/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4597 - binary_accuracy: 0.8070
Epoch 42/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4301 - binary_accuracy: 0.8114
Epoch 43/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4419 - binary_accuracy: 0.7980
Epoch 44/80
28/28 [==============================] - 0s 3ms/step - loss: 0.4446 - binary_accuracy: 0.8047
Epoch 45/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4584 - binary_accuracy: 0.7946
Epoch 46/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4657 - binary_accuracy: 0.8159
Epoch 47/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4317 - binary_accuracy: 0.8047
Epoch 48/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4523 - binary_accuracy: 0.7991
Epoch 49/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4331 - binary_accuracy: 0.7969
Epoch 50/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4479 - binary_accuracy: 0.7991
Epoch 51/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4388 - binary_accuracy: 0.8058
Epoch 52/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4404 - binary_accuracy: 0.8092
Epoch 53/80
28/28 [==============================] - 0s 3ms/step - loss: 0.4244 - binary_accuracy: 0.8103
Epoch 54/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4426 - binary_accuracy: 0.7957
Epoch 55/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4420 - binary_accuracy: 0.8058
Epoch 56/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4324 - binary_accuracy: 0.8114
Epoch 57/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4450 - binary_accuracy: 0.7969
Epoch 58/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4402 - binary_accuracy: 0.8058
Epoch 59/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4382 - binary_accuracy: 0.8013
Epoch 60/80
28/28 [==============================] - 0s 3ms/step - loss: 0.4355 - binary_accuracy: 0.8171
Epoch 61/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4288 - binary_accuracy: 0.8036
Epoch 62/80
28/28 [==============================] - 0s 3ms/step - loss: 0.4387 - binary_accuracy: 0.8013
Epoch 63/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4415 - binary_accuracy: 0.8047
Epoch 64/80
28/28 [==============================] - 0s 3ms/step - loss: 0.4287 - binary_accuracy: 0.8058
Epoch 65/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4247 - binary_accuracy: 0.8036
Epoch 66/80
28/28 [==============================] - 0s 3ms/step - loss: 0.4392 - binary_accuracy: 0.8025
Epoch 67/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4259 - binary_accuracy: 0.8148
Epoch 68/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4412 - binary_accuracy: 0.8047
Epoch 69/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4367 - binary_accuracy: 0.8036
Epoch 70/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4460 - binary_accuracy: 0.8025
Epoch 71/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4340 - binary_accuracy: 0.8070
Epoch 72/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4292 - binary_accuracy: 0.8070
Epoch 73/80
28/28 [==============================] - 0s 3ms/step - loss: 0.4343 - binary_accuracy: 0.7935
Epoch 74/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4191 - binary_accuracy: 0.8193
Epoch 75/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4414 - binary_accuracy: 0.8081
Epoch 76/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4173 - binary_accuracy: 0.8215
Epoch 77/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4420 - binary_accuracy: 0.8159
Epoch 78/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4227 - binary_accuracy: 0.8103
Epoch 79/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4351 - binary_accuracy: 0.8081
Epoch 80/80
28/28 [==============================] - 0s 2ms/step - loss: 0.4309 - binary_accuracy: 0.8137

In [ ]:
prediction = model.predict(x_test)
ids = test_set['PassengerId'].copy()
new_output = ids.to_frame()
new_output['Prediction']=prediction
s=output_set['Survived'].copy()
new_output['Real']=s

In [ ]:
df1 = pd.DataFrame(new_output,columns= ['Prediction', 'Real'])
df1['Übereinstimmung?'] = np.where(df1['Prediction'] == df1['Real'], 'True', 'False')                  

print(df1)

print(f"Anzahl Richtig: {len(df1[df1['Übereinstimmung?'].str.contains('True')])} || Anzahl Einträge: {len(prediction)} || Accuracy: {len(df1[df1['Übereinstimmung?'].str.contains('True')])/len(prediction)}")

     Prediction  Real Übereinstimmung?
0      0.092611     0            False
1      0.370982     1            False
2      0.060180     0            False
3      0.085913     0            False
4      0.511466     1            False
..          ...   ...              ...
413    0.080852     0            False
414    0.968107     1            False
415    0.063141     0            False
416    0.080852     0            False
417    0.077848     0            False

[418 rows x 3 columns]
Anzahl Richtig: 0 || Anzahl Einträge: 418 || Accuracy: 0.0